body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282828;
    margin: 0;
    overflow: hidden;
}

#levelList li {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

#levelList li:hover {
    color: inherit; 
    background-color: inherit; 
}

#levelList li.active {
    background-color: #ddd; /* Colore di evidenziazione */
    color: #000000; /* Colore del testo evidenziato */
}

.game-container {
    text-align: center;
    border-radius: 8px;
    color: white;
}

canvas {
    background: #fff;
    display: block;
    margin: 0 auto;
}

.info-panel {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
}

footer a {
    color: #f80;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

nav {
    color: #f4f4f4;
    background: #4d4d4d;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0.5em;
    border-radius: 4px;
}

nav ul li:hover {
    background: #ddd;
    color: #8d8d8d;
}

.disabled {
    color: gray;
    pointer-events: none;
    opacity: 0.6;
}
